<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <% flash[:error].each do |msg| %>
          <%= msg %>
        <% end %>
    </div>
<% end %>

<%= render "form", category: @category%>